<header class="common-header">
  <a href="javascript:history.back()" class="common-header-button common-back"></a>
  <h1 class="common-title">忘记密码</h1>
</header>
<div class="common-content common-content_panel__top">
  <div class="common-items">
    <div class="common-item">
      <div class="common-item-hd">
        <label class="common-label">手机号码</label>
      </div>
      <div class="common-item-bd ">
        <input type="tel" placeholder="请输入手机号码" [(ngModel)]="phone">
      </div>
    </div>
    <div class="common-item common-item_vcode">
      <div class="common-item-hd">
        <label class="common-label">验证码</label>
      </div>
      <div class="common-item-bd ">
        <input type="number" [(ngModel)]="code" placeholder="短信验证码">
      </div>
      <div class="common-item-ft">
        <button (click)="sendSms()" class="common-vcode">{{send ? interval + '秒后重发': '获取验证码'}}</button>
      </div>
    </div>

  </div>

  <div class="common-items">
    <div class="common-item">
      <div class="common-item-hd">
        <label class="common-label">新密码</label>
      </div>
      <div class="common-item-bd ">
        <input type="password" placeholder="请输入6位以上数字或英文字母" [(ngModel)]="password1">
      </div>
    </div>
    <div class="common-item">
      <div class="common-item-hd">
        <label class="common-label">确认密码</label>
      </div>
      <div class="common-item-bd ">
        <input type="password" placeholder="再次确认密码" [(ngModel)]="password2">
      </div>
    </div>
  </div>

  <div class="common-buttonarea">
    <button (click)="resetPassword()" class="common-button">确认提交</button>
  </div>
</div>