<div class=" common-content">
    <div class="index-container">
        <div class="index-banner">
          <img src="/static/img/banner.jpg" />
        </div>
      
        <div class="index-inner">
          <div class="index-content">
            <h2 class="index-content-title">一键申卡 下卡快 额度高</h2>
            <p class="index-content-desc">做市面上最好的网申通道 你刚好需要 我刚好专业</p>
          </div>
        </div>
      
        <app-bankList></app-bankList>
      
        <app-contact></app-contact>
      </div>
</div>
<div class="nav">
    <div class="nav-item" routerLink="/index"><i class="common-icon icon-index"></i></div>
    <div class="nav-item" routerLink="/home"><i class="common-icon icon-home"></i></div>  
  </div>


