<header class="common-header">
    <a routerLink="/home" class="common-header-button common-back"></a>
    <h1 class="common-title">我的钱包</h1>
  </header>
  <div class="account common-flex common-flex_center">
      <div class="account-item common-flex-item">
        <div class="account-money">{{rebate_count?.rebate_paid}}</div>
        <div class="account-title">已提现(元)</div>
      </div>
      <div class="account-item common-flex-item">
        <div class="account-money">{{rebate_count?.rebate_allow}}</div>
        <div class="account-title">可提现(元)</div>
      </div>
      <a class="account-pay" (click)="pay()">提现</a>
    </div>
    <div class="common-content" [infiniteScroll]="next" (onLoad)="getNext()">
      <div class="container">
        <div class="container-title common-border_bottom">佣金明细</div>
        <div class="container-content">
          <div *ngFor="let rebate of rebateList" class="rebate common-border_bottom">
            <div class="common-flex common-flex_center">
              <div class="rebate-title common-flex-item">{{rebate.apply_info}} 通过审核</div>
              <div class="rebate-money">+{{rebate.money}}</div>
            </div>
            <div class="common-flex common-flex_center">
              <div class="rebate-time common-flex-item">{{rebate.add_date}}</div>
              <div class="rebate-status">{{rebate.status_detail}}</div>
            </div>
          </div>
          <app-loading-more [more]="next"></app-loading-more>
        </div>
      </div>
    </div>